.event-form {
    text-align: left;
    padding-left: 1rem;
    padding-top: 1rem;
    background-color: #FFEEF4;
}

input {
    width: 90%;
    margin-bottom: 0.5rem;
}

label {
    margin-top: 0.5rem;
    color: black;
    font-size: 0.75rem;
    display: block;
}

button {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;

}

textarea {
    width: 90%;
}