
div.card-subheading {
    background-color: #E4E4D0;
}


.events-table {
    width: 100%;
    text-align: left;
    font-size: 0.75rem;
    border-radius: 0.3rem;
    overflow: hidden;
}

.event-row {
    cursor: pointer;
    background-color: #FFEEF4;
    line-height: 1rem;
}

.ev-date {
    width: 20%;
    padding-left: 0.25rem;
}

.ev-time {
    width: 20%;
    text-align: center;
}

.ev-category {
    width: 40%;
}

.ev-duration {
    width: 20%;
    text-align: center;
}

div.eventform {
    background-color: #FFEEF4;
}

td {
    line-height: 1.5rem;
}