.horo-sign {
    background-color: #FFEEF4;
    color: black;
    padding-bottom: 1rem;
}

.horo-text {
    background-color: #E4E4D0;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.reminders {
    background-color: #E4E4D0;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.tip {
    background-color: #E4E4D0;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}