div.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-areas: 
        "info weather horoscope events"
        "calendar calendar calendar calendar";
    gap: 1rem 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 768px)  {
    div.container {
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: 1fr;
        grid-template-areas: 
            "info"
            "weather"
            "horoscope"
            "events"
            "calendar";    
    }
    div.calendar {
        display: none;
    }
}


div.info {
    grid-area: info;
}

div.weather {
    grid-area: weather;
    background-color: red;
}

div.horoscope {
    grid-area: horoscope;
    background-color: black;
    color: white;
}

div.reminders {
    background-color: navy;
    color: white;
}

div.events {
    grid-area: events;
    background-color: chocolate;
}

div.calendar {
    grid-area: calendar;
    background-color: brown;
    min-height: 20rem;
}
